*, *:before, *:after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
.navbar-brand {
    font-size: 60px;
    margin-left: 20px;
    font-family: 'Monofett', cursive;
}
.navbar-nav {
    gap: 30px;
}
.nav-item{
    font-size: 20px;
}

.btn {
    color: aliceblue;
    border: 1px solid white;
}

.container {
    margin-top: 100px;
}

.mb-4 a img {
    width: 55px;
    height: 55px;
}
.dropdown-menu{
    background: linear-gradient(to right, #643dac, #6649b8);
}
.dropdown-item{
    color: white;
    font-size: 1.3rem;
}
.nav_bar {
    background: linear-gradient(to right, #643dac, #4914da);
}
/* .dropdown-menu{
    background-color: #0b63e6;
    background: linear-gradient(to left, #022f72, #33015c);
    background-position: ;
} */
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

.presentacion{
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}
.presentacion img{
    width: 100%;
    height: 100%;
    
}
.ver_mas{
    background:#643dac;
    border: #33015c;
    position: absolute;
    top: 500px;
    height: 70px;
    width: 200px;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
    font-weight: bolder;
    position: absolute;
}
.info-p h1{
    color:aliceblue;
    position: absolute;
    margin-top: 300px;
    margin-left: 50%;
    transform: translate(-50%,-50%);
    font-size: 60px;
    font-weight:bolder;
}
.info-p h5{
    color:#000000;
    position: absolute;
    top: 355px;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 23px;
    font-weight:bolder;
    text-align: center;
}
@media screen and (max-width:420px) {  
    .galeria {
        margin-left: 0px !important;
        height: 220px !important;
        width: 380px !important;
        margin-bottom: 0px !important;
    }
    .boton{
        margin-top: 0px !important;
        height: 50px !important;
        width: 100px !important;
        background-color: #643dac;
        font-size: 25px !important;
    }
    .presentacion{
        width: 100%;
        height: 300px;  
        overflow: hidden;
        position: relative;
    }
    .navbar-brand {
        font-size: 30px;
        margin-left: 20px;
        font-family: 'Monofett', cursive;
    }
    .info-p h1{
        color:aliceblue;
        position: absolute;
        margin-top: 140px;
        margin-left: 50%;
        transform: translate(-50%,-50%);
        font-size: 33px;
        font-weight:bolder;
    }
    .info-p h5{
        overflow: hidden;
    }
    .info-p2 h1{
        color:aliceblue;
        position: absolute;
        margin-top: 140px !important;
        margin-left: 50%;
        transform: translate(-50%,-50%);
        font-size: 20px !important;
        font-weight:bolder;
    }
    .info-p2 h5{
        overflow: hidden;
    }
    .info-p img{
        width: 100%;
        height: 270px;
    }
    .info-p2 img{
        width: 100%;
        height: 270px;
    }
    .ver_mas{
        background:#643dac;
        border: #33015c;
        position: absolute;
        top: 230px;
        height: 40px;
        width: 100px;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 15px;
        font-weight: bolder;
        position: absolute;
    }
    .mb-4 a img {
        width: 45px;
        height: 45px;
    }
}
@media screen and (max-width:390px) {  
        .galeria {
            margin-left: 0px !important;
            height: 220px !important;
            width: 350px !important;
            margin-bottom: 0px !important;
        }
        .boton{
            margin-top: 0px !important;
            height: 50px !important;
            width: 100px !important;
            background-color: #643dac;
        }
}

@media screen and (max-width:1700px){
    .info-p h5{
        color:#000000;
        position: absolute;
        top: 410px;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 23px;
        font-weight:bolder;
        text-align: center;
    }
    .info-p h1{
        margin-left:50%;
    }
    .info-p2 h1{
        color:aliceblue;
        position: absolute;
        margin-top: 300px !important;
        margin-left: 60% !important;
        transform: translate(-50%,-50%);
        font-size: 55px !important;
        font-weight:bolder;
    }
    .info-p2 img{
        height: 547px !important;
    }
    .info-p2 h5{
        top: 410px !important;
    }
    .info-p img{
        height: 547px !important;
    }
}
.info-p2 h1{
    color:aliceblue;
    position: absolute;
    margin-top: 325px;
    margin-left: 50%;
    transform: translate(-50%,-50%);
    font-size: 60px;
    font-weight:bolder;
}
.info-p2 h5{
    color:#000000;
    position: absolute;
    top: 380px;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 23px;
    font-weight:bolder;
    text-align: center;
}

@media screen and (max-width:830px) {
    .galeria {
        margin-left: 0px;
        height: 500px ;
        width: 780px ;
        margin-bottom: 0px;
    }
    .boton{
        margin-top: 0px ;
        height: 80px ;
        width: 200px ;
        background-color: #643dac;
        font-size: 30px;
    }
    .info-p h5{
        color:#000000;
        position: absolute;
        top: 400px;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 23px;
        font-weight:bolder;
        text-align: center;
    }
    .info-p2 h1{
        color:aliceblue;
        position: absolute;
        margin-top: 300px !important;
        margin-left: 50%;
        transform: translate(-50%,-50%);
        font-size: 55px !important;
        font-weight:bolder;
    }
    .info-p2 img{
        height: 547px !important;
    }
    .info-p2 h5{
        top: 410px !important;
    }
    .info-p img{
        height: 547px !important;
    }
}
.info-p2 h1{
    color:aliceblue;
    position: absolute;
    margin-top: 325px;
    margin-left: 50%;
    transform: translate(-50%,-50%);
    font-size: 60px;
    font-weight:bolder;
}
.info-p2 h5{
    color:#000000;
    position: absolute;
    top: 380px;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 23px;
    font-weight:bolder;
    text-align: center;
}

.fixed {
    position: fixed;
    z-index: 20000;
    top: 0;
    left: 0;
    width: 100%;
    animation: smoothScroll 1s forwards;
}
@keyframes smoothScroll {
    0%{
        transform: translateY(-140px);
    }
    100%{
        trasnform:translateY(0px);
    }
    
}
.galeria{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 0px;
}
.galeria {
    transition: all 1s;
}
.galeria img:hover{
    opacity: 0.3;
}
.galeria img{
    height: 550px;
    width: 776px;
    box-shadow: 2px 2px 10px grey;
} 

.pastillas_info{
    display: flex;
    flex-wrap: wrap;
    gap: 125px;
    justify-content: center;
    margin-bottom: 200px;

}
.pastillas_info p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 1.50rem;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}
.pastillas_info img{
    background: none;
    width: 72px;
    height: 72px;
    margin-top: 60px;
}
.item{
    margin-top: 100px;
    height: 230px;
    width: 380px;
    border-bottom-left-radius:  10px;
    border-bottom-right-radius: 10px ;

}
.item img{
    margin-bottom: 20px;
    width: 100%;
}
.item h3{
    font-family: 'Fredoka', sans-serif;
    margin-left: 15px;
    font-size: 2rem;
    color: #643dac;
    text-align: center;
    margin-top: 20px;
}
.mb-4 img {
    width: 40px;
    height: 40px;
    gap: 10px;
}

.logi{
    height: 100px;
}
.corsair{
    height: 280px;
}
.hyperx{
    height: 180px;
}
.switch{
    top: 100%;
}
.col-xl-6{
    color: aliceblue;
    font-size: 1.75rem;
    font-family: 'Fredoka', sans-serif;
}
.call-to-action {
    margin-top: 500px;
    position: relative;
    background-color: #343a40;
    background: url("./images/formulario.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.call-to-action:before {
    content: "";
    position: absolute;
    background-color: #242424;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
}
.enviar{
    font-size: 1.75rem;
    background-color: #643dac;
    border: #33015c;
}
.form-control{
    font-size: 1.75rem;
}
.testimonials h5{
    font-size: 2rem !important;
}
.testimonials p{
    font-size: 1.4rem !important;
}
.testimonials{
    margin-top: 200px;
}
.call-to-action{
    margin-top: 200px;
}
.showcase .showcase-text {
    padding: 3rem;
}
.showcase {
    background-color: rgb(212, 212, 212);
}
.showcase h2{
    font-family: 'Fredoka', sans-serif;
    color: #643dac;
    font-size: 2.75rem;
}
.showcase p{
    font-size: 1.5rem;
}
.showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
}
.container{
    margin-top:0px !important;
}
.py-5 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.testimonial-item h5{
    font-family: 'Fredoka', sans-serif;
    color: #643dac;
    font-size: 1.75rem;
}
.testimonial-item p{
    font-size: 1.25rem;
}
.testimonials .testimonial-item {
    max-width: 18rem;
}
.testimonials .testimonial-item img {
    max-width: 16rem;
    box-shadow: 0px 5px 5px 0px #adb5bd;
}
.p-3{
    background-color: #643dac;
    font-size: 1.5rem;
    text-decoration: none;
}
.p-3 a{
    text-decoration: none;
}
.mb-4 a{
    margin-top: 20px !important;
}
.galeria {
    margin-top: 100px;
    margin-left: 350px;
    height: 700px;
    width: 1200px;
}
.boton{
    height: 70px;
    width: 500px;
    background-color: #643dac;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 37%;
}